<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <div class="w3-container w3-teal w3-padding-12">
        <h1 style="text-align: center;">Federated Server for Model Aggregation</h1>
    </div>
    <ul class="w3-ul w3-border ">
        <li><h2 class="w3-light-grey" style="text-align: center;">Aggregated Models Sent To <strong>Federated Clients 1,2 </strong> </h2></li>
		<li><h2 class="w3-light-grey" style="text-align: center;">Aggregated Model Stored at Local Storage of <strong> Federated Clients</strong></h2></li>
		
		<li><h2 class="w3-light-grey" style="text-align: center;">Full Working of Federated Learning Using Flask and Gunicorn Completed!! </h2></li>

    </ul>
	
</body>
</html> 
