<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal w3-padding-16">
  <h1>An Intelligent Doorbell Design Using Federated Deep Learning Architecture.</h1>
</div>

<form class="w3-container w3-margin-top w3-margin-bottom">
    <label style="font-size: large;">Enter Federated Client Number:</label><br>
    <input class="w3-input w3-border w3-light-grey" type="text">
    <!---<button class="w3-btn w3-margin-top w3-blue-grey">Submit</button> -->
</form> 

<ul class="w3-ul w3-border w3-padding-16">
    <li><h3>Object Detections Models</h3></li>
    <li>Face Detection</li>
    <li>Animal Detection</li>
    <li>Unsafe Content Detections</li>
    <li>Noteworthy Vehicle Detection such as Fire Truck and Courier Service Van</li>
</ul>

<div class="w3-container w3-margin-top">
    <button class="w3-button w3-black w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/modeltrain">Model Training (Locally)</a></button>
    <button class="w3-button w3-black w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/sendmodel">Send Model to Federated Server</a></button>

</div>

</body>
</html> 
