<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <div class="w3-container w3-teal w3-padding-12">
        <h1 style="text-align: center;">Send Local Models to Federated Server for Model Aggregation</h1>
    </div>
    <ul class="w3-ul w3-border w3-padding-16">
        <li><h3>Following Object Detections Models of <strong>Federated Client 2</strong> sent to <strong> Federated Server</strong> for Model Aggregation</h3></li>
        <li>Face Detection</li>
        <li>Animal Detection</li>
        <li>Unsafe Content Detections</li>
        <li>Noteworthy Vehicle Detection</li>
    </ul>

</body>
</html> 
    
    
